.root {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.input {
  height: 48px;
  max-width: 420px;
  width: calc(100vw - 86px - 2 * 16px - 8px);
  font-size: 16px;
  box-sizing: border-box;
  background-color: #eeeeee;
  border-radius: 12px;
  border-color: transparent;
  margin: 0px 8px 0px 0px;
  padding: 0px 37px;
  cursor: pointer;
}

.input:focus {
  background-color: #e6e6e6;
  outline: none;
}

.input:hover {
  background-color: #e6e6e6;
  outline: none;
}

.input::placeholder {
  color: #9c9c9c;
  font-size: 16px;
}

.reset {
  position: absolute;
  display: block;
  right: 20px;
  cursor: pointer;
}

.search {
  position: absolute;
  display: block;
  left: 12px;
}
