.root {
  padding: 32px 0px;
  display: flex;
  flex-wrap: wrap;
}

.root a {
  box-sizing: border-box;
  max-width: calc(100% / 7);
  width: calc(100% / 3);
  min-width: 114px;
  padding: 1px 4px;
}

.root img {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  width: 100%;
}

.empty {
  color: #787878;
  margin: 59px 0px;
}
